doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/canvas_game.css')
    script(src="/socket.io/socket.io.js")
    script(src="/jquery/dist/jquery.js")
    script(src="/three.js/three.js")

  body
    block content
