extends layout

block content
  div(id="canvas-view")
  div(class='controls')
    h1 Mammal Christmas Snowball Fight!
    label Enter your name to join
    input(type='text')
    div(id='join-game') Join Game!


  script(src="../javascripts/snowman_game.js")
