<!doctype html>
<html>
  <head>
    <title>Snowman Game</title>
    <link  rel='stylesheet' href='/dist/canvas_game.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/three/three.min.js"></script>
    <link rel="icon"href="/images/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
   <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36647147-8', 'auto');
      ga('send', 'pageview');

  </script>
  </head>
  <body>

    <div id="canvas-view">
    </div>

    <div class='single-player-start'>
      <h2>Snowball Fight!</h2>
      <div class='first'>
        <input type='text' id='player-name' placeholder="Enter your name ..." autofocus />
        <button class='single-player-start-button'>Start game</button>
      </div>
      <div class='after'>
      <div class="message-main"></div>
        <a href="https://twitter.com/intent/tweet?&text=Do you wanna throw a snowball? http://snowman.mikemjharris.com by @mikemjharris &" target="_blank">Tweet about snowball fight!</a>
        <button class='single-player-start-button'>Play Again!</button>
      </div>

      <ul>
        <li>Arrow keys to move.</li>
        <li>Space bar to throw snowball.  Hold down for more power.</li>
        <li>Points = distance from target squared.</li>
      </ul>

      <h2>Top Scores</h2>
      <div class='topscores'></div>
    </div>

    <div class="map">
      <canvas id="map-canvas" width="200" height="200"></canvas>
    </div>

    <div class="message"></div>
    <div id="power"></div>
    <div id="last-power"></div>

    <div id='time'></div>

    <div class='score'>
      <p>Score: <span id='score'>0</span></p>
      <p>Distance to Target:<span id='dist'></p>
    </div>

    </div>
    <script src="../dist/snowman-game.js"></script>
  </body>
</html>
