<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/static/style.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/jquery-1.11.1.js"></script>
  <script src="/static/chat.js"></script>

</head>
<body ng-app="myApp" ng-controller="AppController">
  <h1>GA Chat</h1>
  <p class="connecting" ng-show="true">Connecting to server</p>

  <form action="#"  ng-submit="addChat()">
    <ul class="chatlines">
        <li ng-repeat="chat in chats">
          <span class="name">{{ chat.name }}</span>:  {{chat.line}}
        </li>
    </ul>
    <input type="text" ng-model="chattext_in" id="chattext" disabled="disabled" />
    <input type="submit" disabled="disabled" />
  </form>






  
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="/static/angular_app.js"></script>
</body>
</html>